* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    min-height: 100%;
}
body {
    font-family: Verdana, Arial, sans;
    color: #222;
}
img {
    border: 0;
}
a {
    color: #ff3600;
    outline: 0;
}
header {
    background: #ebe5df;
    background: linear-gradient(to bottom, #ffffff 0%, #ebe5df 100%);
}
hgroup {
    border-top: 4px solid #222;
}
h1 {
    font-size: 50px;
    padding: 8px 10px;
    float: left;
}
h1 a {
    color: #3f3029;
    text-decoration: none;
    font-weight: normal;
    text-shadow: 1px 1px 2px #888;
}
h1 span {
    border-radius: 3px;
}
h1 a:hover {
    color: #ff3600;
}
h2 {
    float: right;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    padding: 8px 40px;
    color: #fff;
    border-radius: 3px;
    margin: 9px 10px;
}
.learning {
    background: #c43a3a;
}
.locked {
    background: #3ac440;
}
nav {
    clear: both;
    padding: 0 2px 2px;
    background: #ebe5df;
}
nav ul {
    list-style-type: none;
    border-top: 4px solid #222;
    background: #fff;
}
nav ul li {
    float: left;
    border-right: 2px solid #ebe5df;
}
nav ul li:last-child {
    float: none;
    clear: both;
}
nav a {
    display: block;
    margin-top: -4px;
    background: #fff;
    border-top: 4px solid #222;
    padding: 10px 11px;
    font-size: 22px;
    text-decoration: none;
    color: #222;
}
nav a:hover {
    border-top: 4px solid #ff3600;
    background: #fad900;
    background: linear-gradient(to bottom, #fac400 0%, #fad900 65%, #fac400 66%, #f7a500 100%);
}
section {
    border: 2px solid #ebe5df;
    margin-bottom: 20px;
}
section:last-child {
    margin-bottom: 25px;
}
section h3 {
    background: #ebe5df;
    background: linear-gradient(to bottom, #ffffff 0%, #ebe5df 100%);
    margin: 1px;
    color: #3f3029;
    font-size: 18px;
    font-weight: normal;
    padding: 3px 5px;
}
section div {
    border-top: 2px solid #ebe5df;
    padding: 5px 6px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #222;
    color: #fff;
    font-size: 12px;
    text-align: right;
}
footer div {
    padding: 5px 10px;
}

#container {
    min-height: 100%;
    position: relative;
}
#content {
    padding: 20px;
}
#observed {
    padding: 0;
}
#observed ul {
    list-style-type: none;
}
#observed ul li {
    padding: 3px;
    border-bottom: 1px solid #ccc;
    background: #fafafa;
}
#observed ul li:nth-child(even) {
    background: #f1f1f1;
}
#observed ul li:last-child {
    border-bottom: 0;
}
#policy {
    font-family: monospace;
}
.datatable {
    width: 100%;
}
.datatable thead {
    background: #ebe5df;
    background: linear-gradient(to bottom, #ffffff 0%, #ebe5df 100%);
    color: #3f3029;
    font-size: 18px;
    font-weight: normal;
}
.datatable thead td {
    padding: 3px 5px;
    border-right: 1px solid #ccc;
}
.datatable thead td:last-child {
    border: 0;
}
.datatable tbody tr {
}
.datatable tbody tr td {
    border-top: 1px solid #ccc;
    background: #fafafa;
    padding: 5px;
}
.datatable tbody tr:nth-child(even) td {
    background: #f1f1f1;
}
.datatable tbody tr.inactive td {
    color: #888;
    text-decoration: line-through;
}
h3.warning {
    color: #ff3600;
}
div.warning {
    padding-left: 6px;
    border: 0;
    border-left: 5px solid #ff3600;
    margin-bottom: 5px;
    font-style: italic;
}
div.warning:last-child {
    margin: 0;
}
div.warning form {
    display:inline;
}