* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Arial, sans;
}
img {
    border: 0;
}
a {
    color: #ff3600;
    outline: 0;
}
header {
    background: #ebe5df;
    background: linear-gradient(to bottom, #ffffff 0%, #ebe5df 100%);
}
h1 {
    border-top: 4px solid #000;
    font-size: 50px;
    padding: 8px 10px;
}
h1 a {
    color: #3f3029;
    text-decoration: none;
    font-weight: normal;
    text-shadow: 1px 1px 2px #888;
}
h1 a:hover {
    color: #ff3600;
}
nav {
    padding: 0 2px 2px;
    background: #ebe5df;
}
nav ul {
    list-style-type: none;
    border-top: 4px solid #000;
    background: #fff;
}
nav ul li {
    float: left;
    border-right: 2px solid #ebe5df;
}
nav ul li:last-child {
    float: none;
    clear: both;
}
nav a {
    display: block;
    margin-top: -4px;
    background: #fff;
    border-top: 4px solid #000;
    padding: 10px 11px;
    font-size: 22px;
    text-decoration: none;
    color: #000;
}
nav a:hover {
    border-top: 4px solid #ff3600;
    background: #fad900;
    background: linear-gradient(to bottom, #fac400 0%, #fad900 65%, #fac400 66%, #f7a500 100%);
}