{% extends 'layout.html' %}
{% block title %}Overview{% endblock %}
{% block content %}
<section>
    <h3>Statistics</h3>
    <div>
        Observed {{ count.rules }} ressource URIs on {{ count.rules_uris }}
        unique internal URIs. Externalized {{ count.inline }} inline scripts or
        styles on {{ count.inline_uris }} internal URIs.
    </div>
</section>
<section>
    <h3>Observed URIs</h3>
    <div id="observed">
        <ul>
            {% for uri in uris %}
                <li><a href="{{ base_url }}policy?uri={{ uri|urlencode }}">{{ uri }}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}