<!DOCTYPE html>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>autoCSP - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ base_url }}static/style.css">
<div id="container">
    <header>
        <h1><a href="{{ base_url }}">autoCSP</a></h1>
        <nav>
            <ul>
                <li><a href="{{ base_url }}">Overview</a></li>
                <li><a href="{{ base_url }}export">Export</a></li>
                <li></li>
            </ul>
        </nav>
    </header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div>
            autoCSP - CSP-injecting reverse HTTP proxy
        </div>
    </footer>
</div>