{% extends 'layout.html' %}
{% block title %}View Policy{% endblock %}
{% block content %}
<section>
    <h3>Policy for {{ document_uri }}</h3>
    <div id="policy">
        <b>Content-Security-Policy:</b> {{ policy }}
    </div>
</section>
{% if warnings %}
<section>
    <h3 class="warning">Warnings</h3>
    <div>
        {% for warning in warnings %}
            <div class="warning">
                {{ warning.text }}
                <form action="{{ base_url }}warning/delete" method="post">
                    <input type="hidden" name="id" value="{{ warning.id }}">
                    <input type="hidden" name="csrf" value="{{ csrf }}">
                    <input type="submit" value="delete">
                </form>
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}
{% if rules %}
    <section>
        <table class="datatable" data-csrf="{{ csrf }}">
            <thead>
                <tr>
                    <td>Directive</td>
                    <td>URI</td>
                    <td>Activated</td>
                </tr>
            </thead>
            <tbody>
                {% for id, directive, uri, activated in rules %}
                    <tr{% if not activated %} class="inactive"{% endif %}>
                        <td>{{ directive }}</td>
                        <td>{{ uri }}</td>
                        <td>
                            <input type="checkbox" data-id="{{ id }}" class="chk-active" value="1"{% if activated %} checked{% endif %}>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <script src="{{ base_url }}static/policy.js"></script>
{% endif %}
{% if inline %}
    <section>
        <table class="datatable">
            <thead>
                <tr>
                    <td>Inline type</td>
                    <td>Source</td>
                </tr>
            </thead>
            <tbody>
                {% for i in inline %}
                    <tr>
                        <td>{{ i.type }}</td>
                        <td class="source">{{ i.source }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endif %}
{% endblock %}